.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(76, 178, 241);

    &__link {
        color: white;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        transition: 0.2s all ease;

        @media(max-width:600px){
            font-size: 14px;
        }

        &:hover {
            color: orange;
        }

        
    }
}

.active {
    color: orange;
}
