.delivery {
    width: 100%;
    height: 100%;

    &__form {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }

    &__form-item {
        width: 70%;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    &__input {
        width: 100%;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid rgba(255, 255, 255, 0.533);
        outline: none;
        color: #fff;

        &:focus {
            border-bottom: 2px solid #fff;
        }
    }

    &__submit {
        width: 95%;
        margin-top: auto;
        padding: 10px;
        font-size: 18px;
        border-radius: 6px;
        text-align: center;
        border: none;
        color: #fff;
        background-color: rgb(34, 143, 216);
        cursor: pointer;
        transition: 0.3s all ease;

        &:hover {
            background-color: rgb(34, 117, 172);
        }
    }
}